@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sahitya:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: linear-gradient(to top left, #F6E7E4, #D8E8F5);;
}

/*NAVBAR*/
.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f9f9f9;
    padding: 16px;
    z-index: 1000;

    .menuItems {
        list-style: none;
        display: flex;
        justify-content: center;

        li {
            margin: 0 50px;

            a {
                text-decoration: none;
                color: #8f8f8f;
                font-size: 24px;
                font-weight: 400;
                transition: all 0.5s ease-in-out;
                position: relative;
                text-transform: uppercase;

                &::before {
                    content: attr(data-item);
                    transition: 0.5s;
                    color: #F4C3B9;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 0;
                    overflow: hidden;
                }

                &:hover {
                    &::before {
                        width: 100%;
                        transition: all 0.5s ease-in-out;
                    }
                }
            }
        }
    }
}

.nav p {
    margin: 16px;
    font-size: 96 px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 1s ease-in-out;
    position: relative;
    padding-top: 100px;

    &::before {
        content: attr(data-item);
        transition: all 1s ease-in-out;
        color: #F4C3B9;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 0;
        overflow: hidden;
    }

    &:hover {
        &::before {
            width: 100%;
        }
    }
}

/*FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #f1f1f1;
    color: #8f8f8f;
    text-align: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s ease;
}

.contact-item img {
    width: 24px;
    height: 24px;
}

.contact-item span {
    font-size: 15px;
    font-weight: 300;
    cursor: default;
}

.contact-item a {
    text-decoration: none;
    color: #8f8f8f;
}

.contact-item:hover,
.contact-item a:hover {
    color: #F4C3B9;
}

/*INDEX.HTML*/
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.github .icon {
    transition: fill 0.3s ease;
    margin-right: 20px;
    width: 400px;
    height: 400px;
}

.github .icon:hover {
    fill: #F4C3B9;
    cursor: pointer;
}

.text {
    margin-top: 70px;
    transition: color 0.3s ease;
    cursor: default;
}

.text h1 {
    font-size: 40px;
    color: #8f8f8f;
}

.text h2 {
    font-size: 20px;
    font-weight: lighter;
    color: #8f8f8f;
}

.text p {
    font-size: 15px;
    color: #8f8f8f;
}

.text h1:hover,
.text h2:hover,
.text .paragraph:hover {
    color: #F4C3B9;
}

.text h1,
.text h2,
.text .paragraph {
    transition: color 0.3s ease;
}


























